DATABASE_URL="postgresql://postgres:postgres@localhost:5432/aissistant?schema=public" #create (https://neon.com/)
PORT=4000
NODE_ENV=development
SESSION_SECRET="replace-with-a-long-random-secret" #create (https://jwtsecrets.com/#generator)
FRONTEND_ORIGINS="http://localhost:3000"
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash-lite" #default_model, do not change
